body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Mantém tudo centralizado horizontalmente */
    min-height: 100vh;
}

.main-content {
    width: 90%; /* Usa 90% da largura da tela */
    max-width: 1200px; /* Pode definir um max-width para evitar que fique muito largo em telas grandes */
    margin: 0 auto; /* Centraliza horizontalmente */
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    width: 100%; /* A tabela usa toda a largura do .main-content */
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    color: #333;
}

th {
    background-color: #4bd2f0;
    color: #fff;
}

tr {
    transition: background-color 0.3s ease;
}

tr:hover {
    background-color: ##f20000;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logo-container img {
    width: 150px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    margin-top: 20px;
}

.button:hover {
    background-color: #0056b3;
}

tr[data-href] {
    cursor: pointer;
}

tr[data-href]:hover {
    background-color: #cccccc;
}