<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Permissões</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='permissoes_admin.css') }}">
</head>
<body>
    <div class="logo-container">
        <img src="../static/images/logo.png" alt="Logo">
    </div>
    <div class="main-content">
        <h1>Permissões</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Permissões</th>
                    <th>Pedidos por responder</th>
                </tr>
            </thead>
            <tbody>
                {% for funcionario in funcionarios %}
                <tr data-href="/permissoes_funcionario_admin?id={{ funcionario.id }}&nome={{funcionario.nome}}">
                    <td>{{ funcionario.id }}</td>
                    <td>{{ funcionario.nome }}</td>
                    <td>{{ funcionario.permissoes }}</td>
                    <td>{{ funcionario.pedidos }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
<script>
document.addEventListener("DOMContentLoaded", function() {
    var rows = document.querySelectorAll("table tr[data-href]");
    rows.forEach(function(row) {
        row.addEventListener("click", function() {
            window.location.href = this.dataset.href;
        });
    });
});
</script>

</html>
