<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados da Tabela</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='permissoes.css') }}">
</head>
<body>
    <div class="voltar-container">
        <a href="/main.html"><img src="../static/images/back.png" alt="Back"></a>
    </div>
    <div class="logo-container">
        <img src="../static/images/logo.png" alt="Logo">
    </div>
        <div class="data-container">
        <h1>Permissões de {{ nome }}</h1>
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Permissão</th>
                        <th>Pedir permissão</th>
                    </tr>
                </thead>
                <tbody>
                    {% for permissao in permissoes %}
                    <tr>
                        <td>{{ permissao.nome_r }}</td>
                        <td>{{ 'Sim' if permissao.permissao == 1 else 'Não' }}</td>
                        {% if permissao.pedido == 0 and permissao.permissao == 0 %}
                            <td>
                                <form action="{{ url_for('solicitar_permissao') }}" method="post">
                                    <input type="hidden" name="id_recurso" value="{{ permissao.id_r }}">
                                    <button type="submit" class="button">Pedir permissão</button>
                                </form>
                            </td>
                        {% endif %}
                        {% if permissao.pedido == 1 and permissao.permissao == 0 %}
                            <td>Pedido enviado</td>
                        {% endif %}
                        {% if permissao.pedido == 0 and permissao.permissao == 1 %}
                            <td>------------</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
</body>
</html>
